### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
teste.py
.DS_Store
lexicos-enelvo/
lexicos-lucas/
lexicos-anotacao/
correcoes-enelvo/
test-ugnormal/
log-baseline-scoring.log
log-baseline-scoring.txt
resultados-baselines-scoring.txt
resultados-baselines.txt
test.py
*.so
enelvo/resources/embeddings/*.model
dist/
build/
out.txt
i.txt
