### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
teste.py
.DS_Store
lexicos-enelvo/
lexicos-lucas/
lexicos-anotacao/
correcoes-enelvo/
test-ugnormal/
log-baseline-scoring.log
log-baseline-scoring.txt
resultados-baselines-scoring.txt
resultados-baselines.txt
test.py
*.so
*.pyx
enelvo/resources/embeddings/*.model
dist/
build/
out.txt
i.txt
*.so
Enelvo.egg-info
enelvo/.vscode/settings.json
enelvo/.vscode/launch.json
enelvo/metrics/cythonlcs.c
.vscode/settings.json
.mpypy_cache/
.pytest_cache/
.coverage