# Disable sudo to speed up the build
sudo: false

dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install -r requirements.txt

script: pytest

after_success:
  - coveralls