name: Release

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"
          
    - name: Upgrade pip
      run: |
        pip install --constraint=.github/workflows/constraints.txt pip
          
    - name: Install Poetry
      run: |
        pip install --constraint=.github/workflows/constraints.txt poetry
    
    - name: Check if there is a parent commit
      id: check-parent-commit
      run: |
        echo "::set-output name=sha::$(git rev-parse --verify --quiet HEAD^)"

    - name: Build package
      run: |
        poetry version $(git describe --tags --abbrev=0)
        poetry build --ansi
        
    - name: Publish package on PyPI
      uses: pypa/gh-action-pypi-publish@v1.6.1
      with:
        user: ${{ secrets.PYPI_USERNAME }}
        password: ${{ secrets.PYPI_PASSWORD }}
